h2 img {
    max-height: 1em;
}

.thumbnail-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.illustration {
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1.1em
}

.illustration h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.illustration .art {
    width: 100%;
    cursor: pointer;
}

.thumbnail-gallery.three-cols .illustration {
    flex: 0 0 calc(33.333% - 10px);
    box-sizing: border-box;
}

.thumbnail-gallery.two-cols .illustration {
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .thumbnail-gallery.three-cols .illustration,
    .thumbnail-gallery.two-cols .illustration {
        flex: 0 0 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .thumbnail-gallery.three-cols .illustration{
        flex: 0 0 calc(50% - 10px);
        box-sizing: border-box;
    }
}

.artist-info {
    display: block;
}

.artist-name {
    line-height: 1;
    display: inline-flex;
    align-items: center;
    gap: 0.3em;
}

.social-link img {
    height: 1.3em;
}

.expander {
    cursor: pointer;
    color: white;
}

.art-past {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal img {
    display: none;
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
}

.modal video {
    display: none;
    max-width: 90%;
    max-height: 90%;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

main {
    max-width: 1050px;
}