main a {
	color: #19f;
}
header a {
    color: #fff;
}
ul.mobile {
    list-style-type: none;
}
ul.list > li {
	padding: 0.5em;
}
.dead {
    text-decoration: line-through;
}
.highlight {
    background: rgba(128, 128, 0, 0.5);
}
.selected {
    background: rgba(255, 255, 0, 0.5);
}
.languages li:hover {
	background-color: #fff;
}
.mobile li:hover {
    background-color: #333;
}
@media (min-width:50em) {
	.header li {
		float: left;
	}

	.header li .subpage {
		padding: 20px 30px;
	}

	.header .menu, .header .languages {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
	.header ul .subpage {
		border-left: 1px solid #aaa;
	}
	.moverdowner {
		height: 58px;
	}
}
