iframe {
    float: right;
}
.cards_inner {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
}
.card {
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px #888;
  	-webkit-box-shadow: 2px 2px 2px 1px #888;
    margin: 0px auto 25px auto;
    display: block;
    /* Absolute limit. Any wider and the site layout breaks */
    width: 330px;
    overflow: hidden;
}
.card_link:hover {
    background-color: #555;
}

.card:hover {
    box-shadow: 6px 6px 6px 3px #888;
    -webkit-box-shadow: 6px 6px 6px 3px #888;
}
.bottom {
    text-align: center;
    font-size: 11px;
    color: #bbb;
    clear: both;
}
.card_link {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.card_link_split {
    /* For some reason, using a value just 1px bigger makes it stack and clip into the card below.
    Number is (330 / 2) - 3 */
    width: 163px !important;
}
.card_link_split_left {
    margin-left: -1px;
}
.card_link_split_right {
    margin-right: -1px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: left;
}
.language_small {
    font-size: 14px;
    margin: 0px 10px 0px 10px;
}
.large {
    font-size: 20px;
}
.huge {
    font-size: 32px;
}
.icon {
    margin-right: 4px;
}
#countdowns {
    padding: 20px 0px 20px 0px;
    text-align: center;
}
#countdown_start {
    font-family: serif;
    font-size: 48px;
}
#countdown_title_start, #countdown_title_match, #current_match {
    display: none;
}
#match_category {
    color: #19f;
    text-decoration: underline;
}
#cards {
    text-align: center;
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 1850px) {
    .thumbnail {
        width: 300px;
        height: 192px;
    }
    .large {
        font-size: 16px;
    }
    .icon {
        margin-right: 0px;
    }
}
@media only screen and not (min-width: 1100px) {
    #cards {
        flex-direction: column;
    }
    .card {
        width: 300px;
    }

    .card_link_split {
        width: 100% !important;
        display: block;
    }

    .card_link_split_left {
        margin-left: 0;
    }
    .card_link_split_right {
        margin-right: 0;
    }

}
@media only screen and (max-width: 750px) {
    .card {
        width: 200px;
    }
    .thumbnail {
        width: 200px;
        height: 128px;
    }
}
