input[type=button] {
    display: none;
    font-size: 28px;
}
.TH06 {
    background-color: #ff2400;
    color: #000;
}
.TH07 {
    background-color: #ff8ed2;
    color: #000;
}
.TH08 {
    background-color: #339;
}
.TH09 {
    background-color: #009973;
}
.TH10 {
    background-color: #96b300;
    color: #000;
}
.TH11 {
    background-color: #591400;
}
.TH12 {
    background-color: #4169e1;
}
.TH128 {
    background-color: #00c8c8;
    color: #000;
}
.TH13 {
    background-color: #4a808c;
}
.TH14 {
    background-color: #a77;
}
.TH15 {
    background-color: #6a47be;
}
.TH16 {
    background-color: #176e0e;
}
.TH17 {
    background-color: #190e0e;
}
.TH18 {
    background-color: #23fcb1;
    color: #000;
}
.TH143 {
    background-color: #8844c2;
}
.Extra {
    background-color: #ff00ff;
    color: #000;
}
.Bingo {
	background-color: #F2855A;
	color: #000;
}
.highlight {
    background: rgba(143, 37, 130, 0.5);
}
.spoiler, #spoiler_ol {
    display: none;
}
.large {
    font-size: 24px;
}
.bonus {
    text-align: center;
}
/*.contents {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}*/
.team {
    cursor: help;
    position: relative;
}
.team .tooltip {
    margin-left: -60px;
}
.team:hover .tooltip {
    visibility: visible;
}
.tooltip {
    font-weight: initial;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    max-width: 100px;
}
#schedule_tbody .bonus_match img,
#schedule_tbody_2022 .bonus_match img,
#schedule_tbody_2023 .bonus_match img {
    display: none;
}
@media only screen and (max-width: 1000px) {
    main {
        overflow-x: auto;
    }
    .schedule_table {
        max-width: 95%;
        overflow-x: scroll;
    }
}
