body {
	margin: 0;
	font-family: sans-serif;
	background-color: #000;
}

* {
	color: #fff;
	text-decoration: none;
}

.moverdowner {
	height: 0;
	background-color: #222;
}

.header {
	background-color: #222;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	width: 100%;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #222;
}

.header ul a {
	display: block;
	padding: 20px;
	text-decoration: none;
}

.header ul a:hover {
	background-color: #333;
}

.header .logo {
	float: left;
	display: block;
	font-size: 2em;
	padding: 10px 20px;
}

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .1s ease-out;
}

.header .menu-icon {
	padding: 28px 20px;
	position: relative;
	float: right;
	cursor: pointer;
}

.header .menu-icon .nav-icon {
	background:#fff;
	display: block;
	height: 2px;
	width: 18px;
	position:relative;
}

.header .menu-icon .nav-icon:before {
	background: #fff;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 5px;
}

.header .menu-icon .nav-icon:after {
	background: #fff;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 5px;
}

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height:240px;
}

@media (min-width:50em) {
	.header li {
		float:left;
	}
	
	.header li a {
		padding: 20px 30px;
	}
	
	.header .menu {
		clear:none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
	.header ul a {
		border-left: 1px solid #aaa;
	}
	.moverdowner {
		height: 58px;
	}
}